@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  width: 100%;
  height: 700vh;
}

header {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: white;

  width: 100%;
  height: 8%;

  -webkit-box-shadow: 0 2px 10px 0 rgb(0 0 0 / 30%);
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 30%);

  display: flex;
  justify-content: center;
  align-items: center;
}

header nav {
  width: 100%;
  height: 100%;
}
header nav ul {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
}

header nav ul i:hover {
  cursor: pointer;
}

header nav ul li {
  margin-left: 7%;
  font-size: 1.3em;
  font-weight: bold;
  font-family: "Lobster", cursive;
}

header nav ul i {
  margin-left: 2%;
}

header nav ul li:hover {
  cursor: pointer;
}

/* 
메인 contents
*/

main {
  padding-left: 10%;
  padding-right: 10%;
  margin: 0;

  width: 80%;
  height: 80%;
}

main .newsThatLasts {
  margin: 0;

  width: 100%;
  height: 10%;

  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

main .newsThatLasts img {
  margin-top: 10%;
  width: 70%;
  height: 100%;

  margin-bottom: 3%;
}

main .newsThatLasts div {
  width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin-bottom: 10%;
}

main .newsThatLasts div span {
  font-size: 2em;
  font-weight: 600;
}

main .newsThatLasts div i {
  margin-left: 36%;
}

main .newsThatLasts div i:hover {
  cursor: pointer;
}

/*       
       A      B     O     U     T
*/

.main-about {
  margin-top: 18%;
  margin-bottom: 1%;

  width: 100%;
  height: 11%;
}

.about__column {
  width: 100%;
  height: 100%;
}

.about-text span:first-child {
  font-size: 1.6em;
  margin-right: 5%;
  font-weight: 600;
}

.about-text span:nth-child(2) {
  font-size: 2.25em;

  line-height: 120%;
}

.viewCompany {
  margin-top: 2%;
  display: flex;
  align-items: center;
}

.viewCompany span {
  font-size: 1.5em;
  font-weight: 600;

  margin-left: 1%;
}

/*

 journalism__column

 */

a {
  text-decoration: none;
  color: inherit;
}

.journalism-grid__column {
  width: 100%;
  height: 350vh;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.journalism-1 {
  grid-column: 1/-1;
  grid-row: 1/2;
  width: 50%;
}

.journalism-1 span:first-child,
.journalism-4 span:first-child,
.journalism-5 span:first-child,
.journalism-8 span:first-child,
.journalism-9 span:first-child,
.journalism-10 span:first-child {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 10%;
}

.journalism-1 span:nth-child(2),
.journalism-4 span:nth-child(2),
.journalism-5 span:nth-child(2),
.journalism-8 span:nth-child(2),
.journalism-text {
  font-size: 1.8em;
  font-weight: 400;
  line-height: 1.2em;
  margin-bottom: 10%;
}

.journalism-2 {
  padding-left: 10%;
  grid-column: 2/3;
  grid-row: 1/2;
  width: 100%;
}

.journalism-4,
.journalism-6,
.journalism-8,
.journalism-10 {
  padding-left: 10%;
  width: 100%;
}

.journalism-2 img,
.journalism-3 img,
.journalism-6 img,
.journalism-7 img,
.journalism-9 img,
.journalism-10 img {
  width: 100%;
  height: 80%;
}

.journalism-grid__column div {
  display: flex;
  flex-direction: column;

  border-top: 1px solid black;
  padding-top: 3%;
}

.journalism-grid__column div a span {
  width: 25%;
  height: 8%;
  border: 1px solid black;
  padding: 3%;
  border-radius: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.journalism-grid__column div a {
  font-size: 0.8em;
  margin-top: 10%;

  width: 100%;
  height: 10%;
  display: flex;
}

.journalism-grid__column div a span:nth-child(2) {
  margin-left: 5%;
  font-size: 1.5em;
  font-weight: 600;
}

.journalism-grid__column div a span:hover,
.journalism-grid__column a span:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

a span {
  margin-bottom: 0;
}

.journalism-9 img,
.journalism-10 img {
  width: 100%;
  height: 40%;
}

.journalism-text {
  margin-top: 6%;
}

/*
인 덱 스 = = = = = = 마 지 막 에 있 는  CAREERS NEWS CONTACT  
*/

.index {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1, 1fr;

  margin-top: 10%;
  margin-bottom: 10%;
}

.index div {
  border-top: 1px solid black;

  padding-top: 5%;

  display: flex;
  flex-direction: column;
}

.index div span:first-child {
  font-size: 1.4em;
  font-weight: 600;

  margin-bottom: 11%;
}

.index div span:nth-child(2) {
  font-size: 1.4em;
  margin-bottom: 10%;
}

.index div span:nth-child(3) {
  font-size: 1.5em;
  font-weight: 600;

  width: 35%;
  height: 8%;
  border: 1px solid black;
  padding: 3%;
  border-radius: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.index div span:nth-child(3):hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

footer {
  margin-top: 15%;

  background-color: #464646;
  width: 70%;
  height: 7%;

  display: flex;
  justify-content: space-between;
  padding: 2% 15%;
}

footer div {
  display: flex;
  flex-direction: column;
}

footer div span {
  color: white;
}

footer div:first-child span:first-child {
  font-size: 1.7em;
  font-weight: 700;

  margin-bottom: 50%;
}

footer div:first-child span:nth-child(2),
footer div:first-child span:nth-child(3),
footer div:first-child span:nth-child(4),
footer div:first-child span:nth-child(5),
footer div:nth-child(2) span,
footer div:nth-child(3) span {
  font-size: 1em;
  font-weight: 500;
}

footer div:first-child span:nth-child(3) {
  margin-bottom: 10%;
}
