@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100%;
}

.grid {
  width: 1000px;
  height: 710px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(3, 1fr);
}

.black {
  background-color: black;
  grid-column: 1/2;
  grid-row: 1/2;

  color: white;
  font-size: 30px;
  display: flex;
  flex-direction: column;
}

.black span {
  padding-left: 5px;
}

.black span:first-child {
  padding-top: 10px;
}

.purple {
  background-color: #6c01ff;
  grid-column: 2/3;
  grid-row: 1/2;
}

.red {
  background-color: #ff1502;
  grid-column: 1/2;
  grid-row: 2/-1;

  color: black;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.red span {
  padding-left: 10px;
}
.red span:first-child {
  padding-top: 20px;
}

.yellow {
  background-color: #ffc904;
  grid-column: 2/3;
  grid-row: -2/-1;

  color: black;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.yellow span {
  padding-left: 10px;
  padding-top: 5px;
}

.speakers {
  background-color: #ffffff;
  grid-column: 3/4;
  grid-row: 1/-1;

  color: black;
  font-size: 21.5px;
  display: flex;
  flex-direction: column;
}

.speakers span,
.artists span {
  margin-left: 10px;
  padding-top: 3px;
  font-weight: 500;
}

.speakers span:first-child,
.artists span:first-child {
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.speakers span:nth-child(7) {
  background-color: #6c01ff;
  width: 180px;
  height: 20px;
}

.artists {
  background-color: #ffffff;
  grid-column: 4/-1;
  grid-row: 1/-1;

  color: black;
  font-size: 21.5px;
  display: flex;
  flex-direction: column;
}
