@import "reset.css";

@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
/*

상단 고정바

*/

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  width: 100%;
}

header {
  width: 100%;
  height: 50px;
}
.nav-bar {
  background-color: white;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 30px;

  width: 100%;
}

.nav-bar-logo {
  position: relative;
  left: 1%;
}
.nav-bar-logo li {
  text-transform: uppercase;
  font-family: "Indie Flower", cursive;
  font-size: 2.2em;
}

.nav-bar-index {
  position: relative;
  width: 75%;
  left: 7%;

  display: flex;
  align-items: center;
}

.nav-bar-index li {
  font-size: 15px;
  display: flex;
  align-items: center;

  padding-right: 10px;
}
.nav-bar-index li span {
  width: 18px;
  height: 18px;
  border-radius: 9px;
}
.nav-bar-index li:first-child span {
  background-color: #e2d3b7;
}
.nav-bar-index li:nth-child(2) span {
  background-color: #c97b37;
}
.nav-bar-index li:nth-child(3) span {
  background-color: #aac6b9;
}
.nav-bar-index li:nth-child(4) span {
  background-color: #c97b37;
}
.nav-bar-index li:nth-child(5) span {
  background-color: #70989d;
}
.nav-bar-index li:nth-child(6) span {
  background-color: #d3a745;
}
.nav-bar-index li:nth-child(7) span {
  background-color: #aeaa76;
}
.nav-bar-index li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 600;
  color: inherit;
  letter-spacing: 0.1em;
  padding-right: 5px;
}
.nav-bar-index li span {
  margin-right: 10px;
}
.nav-bar-icons {
  display: flex;
  align-items: center;

  margin-right: 2%;
}
.nav-bar-icons li a {
  color: black;
}
.nav-bar-icons li:nth-child(2) {
  margin-left: 20px;
}

/* 

G R I D  시 작 

*/

.main-grid__column {
  background-color: wheat;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);

  width: 100%;
}
.main-grid__column > div {
  width: 100%;
  height: 80vh;
  max-width: 100%;
  max-height: 80vh;

  padding-top: 3%;
  padding-bottom: 3%;
}

.main-grid__column > div:nth-child(5n + 1) {
  background-color: #e5d9c3;
}

.main-grid__column > div:nth-child(5n + 2) {
  background-color: #c97b37;
}

.main-grid__column > div:nth-child(5n + 3) {
  background-color: #d4a335;
}

.main-grid__column > div:nth-child(5n + 4) {
  background-color: #9ec2b2;
}

.main-grid__column > div:nth-child(5n) {
  background-color: white;
}

.main-grid-contents {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.main-grid-date {
  display: flex;
  justify-content: space-between;
}
.main-grid-date > span:first-child,
.main-grid-more > span:first-child {
  margin-left: 3%;
}
.main-grid-date > span:nth-child(2),
.main-grid-more > span:nth-child(2) {
  margin-right: 3%;
}
.main-grid-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.main-grid-photo > img {
  overflow: hidden;
  padding-right: 20%;
  padding-left: 20%;

  width: 55%;
  height: 60%;

  margin-bottom: 25%;
}
.main-grid-photo > span {
  font-size: 1em;
  font-weight: 500;
}
.main-grid-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 

bottom__column

*/
.bottom__column {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 5%;
}
.bottom1 {
  padding-bottom: 6%;
}

.bottom2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3%;
}
.bottom2 > div {
  display: flex;
  flex-direction: column;
}

.bottom1 > span,
.bottom2 > div > span {
  font-size: 1em;
  font-weight: bold;
  text-decoration: underline;
}

/* 

이제 hover와 같은 효과 추가

*/

/*
상단바 효과
*/
.nav-bar-logo:hover li {
  color: white;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
}
.nav-bar-index:hover {
  cursor: pointer;
}

/*
메인 그리드 효과
*/

/*
바텀 효과
*/

.bottom1 > span:hover {
  cursor: pointer;
}
.bottom2 > div > span:hover {
  cursor: pointer;
}
