@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Oswald:wght@500&display=swap");

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  width: 100%;

  height: 150vh;
  padding-top: 3.5%;
}

/*
h e a d e r 
*/

header {
  display: flex;
  align-items: center;
  z-index: 1;

  position: fixed;

  width: 100%;
  height: 7%;
  top: 0;

  background-color: white;
  -webkit-box-shadow: 0 2px 10px 0 rgb(0 0 0 / 30%);
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 30%);
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: 7%;
  padding-right: 10%;

  width: 100%;
}

header nav ul {
  display: flex;
  align-items: center;

  height: 100%;
}

header nav ul span {
  display: flex;
  align-items: center;
}

header nav ul:first-child {
  width: 44%;
}

header nav ul:nth-child(2) {
  width: 15%;
}

header nav ul:nth-child(2) span {
  width: 100%;
  height: 100%;
}

.logo {
  font-size: 1.8em;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.1em;
}

header nav ul li {
  font-size: 1.1em;
}

header nav ul li:not(.header-nav-ul-li-first-child) {
  margin-left: 6%;
}

header nav ul:nth-child(3) {
  margin-left: 27%;
}

/*
 첫 사 진 & 텍 스 트 main-gallery__column
*/

main {
  width: 100%;
}

.main-gallery__column {
  width: 100%;
  height: 93vh;

  display: flex;
}

.main-gallery-img {
  width: 50% !important;
}

.main-gallery-img img {
  width: 100%;
  height: 93vh;
}

.main-gallery-text {
  width: 50%;
  height: 93vh;
}

.main-gallery-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-gallery-text span:first-child {
  padding-left: 6%;
  padding-right: 6%;

  text-align: center;
  font-size: 2.5em;
  font-family: "Merriweather", serif;
  font-weight: 700;

  line-height: 1.5em;

  margin-bottom: 5%;
}

.main-gallery-text span:nth-child(2) {
  padding-left: 6%;
  padding-right: 6%;

  text-align: center;
}

.main-gallery-text-color {
  display: flex;
}

.main-gallery-text-color div {
  margin-left: 0.3em;
  color: orange;
  font-weight: bold;
}

/*
 노 란 색 배 경  
*/

.main-yellow__column {
  background-color: #efcb56;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-yellow__column span {
  width: 60%;
  padding-left: 20%;
  padding-right: 20%;
}

.main-yellow__column span:first-child {
  margin-top: 10%;
  margin-bottom: 2%;

  font-size: 3em;
  font-family: "Merriweather", serif;
  font-weight: 400;
}

.main-yellow__column span:nth-child(2) {
  font-size: 1.6em;
  font-family: "Merriweather", serif;
  font-weight: 300;
  line-height: 1.5em;

  margin-bottom: 2%;
}

.main-yellow__column span:nth-child(3) {
  font-size: 0.7em;
  margin-bottom: 6%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-yellow__column span:nth-child(3) div {
  margin-left: 0.3em;
  color: orange;
  font-weight: bold;
  text-decoration: underline;
}

/*
사 진 모 음  g r i  d 
*/

.image-grid__column {
  background-color: white;

  width: 100%;
  height: 200vh;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);

  gap: 0.2%;
}

.image-grid__column div img {
  width: 100%;
  height: 100%;
}

.image-grid-1 {
  grid-column: 1/3;
  grid-row: 1/2;
}

.image-grid-5 {
  grid-column: 2/4;
  grid-row: 2/3;
}

.image-grid-7 {
  grid-column: 1/3;
  grid-row: 3/4;
}
.image-grid-10 {
  grid-column: 1/3;
  grid-row: -2/-1;
}

.image-grid__column:hover {
  cursor: pointer;
}

.image-grid__column div img:hover {
  filter: blur(30px);
}
/*
F O O T E R G R I D C O L U M N
*/

.footer-grid__column {
  background-color: #535851;
  width: 70%;

  margin-top: 5.4%;

  padding-left: 15%;
  padding-right: 15%;

  display: flex;
  flex-direction: column;
}

.footer-grid-top {
  padding-top: 10%;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.footer-grid-top div {
  display: flex;
  flex-direction: column;

  line-height: 1.7em;
  font-size: 1.1em;
}

.footer-grid-top div div {
  display: flex;
  flex-direction: row;
}

.footer-grid-top div span {
  color: white;
}

.footer-grid-top div span:first-child,
.footer-grid-top div:last-child span:nth-child(4) {
  color: #9fa29e;
}

.footer-grid-top div:last-child span:nth-child(4) {
  margin-top: 30%;
}

.footer-grid-bottom {
  margin-top: 5%;
  margin-bottom: 10%;

  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 0.9em;
}

.footer-grid-bottom-logo {
  margin-right: 40%;
}
