@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import "variable.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 95%;
  height: 100vh;

  background-color: #efe754;
  padding: 7px;
}

.sidebar_up,
.sidebar_down {
  width: 99.45%;
  height: 25px;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #e3765f;
}

.sidebar_up span,
.sidebar_down span {
  font-size: 14px;
  color: var(--text-color);
  letter-spacing: 2px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sidebar_left,
.sidebar_right {
  background-color: #fd6b3a;
  margin: 0px;
  width: 30px;
  border: 2px solid #e3765f;
}

.sidebar_left span,
.sidebar_right span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 11px;
  font-weight: bold;
  width: 30px;
  color: white;

  padding-top: 10px;
  padding-bottom: 15px;

  writing-mode: vertical-lr;
  text-orientation: upright;
}

.sidebar_left-spicy {
  width: 27x;
  background-color: white;
  border: 2px solid #e3765f;

  display: flex;
  flex-direction: row;
}

.sidebar_left-spicy span {
  color: var(--text-color);

  display: flex;
  flex-direction: row;
  /*
  word-break: break-all;
  transform: rotate(0.75turn);
  writing-mode: vertical-rl;
  text-orientation: upright;
  */
}

.sidebar_left-site {
  background-color: white;
  text-decoration: none;
}

.sidebar_left-site span {
  color: var(--text-color);
  background-color: white;
  width: 26px;
  border: 2px solid #e3765f;
  border-bottom: none;
}

.sidebar_left {
  height: 710.2px;
}

.sidebar_right {
  background-color: #42ac4f;
  height: 706.2px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  border: 4px solid #e3765f;
}

.sidebar_right span:nth-child(2) {
  background-color: #e3765f;
  padding: 0;
  height: 4px;
}

.sidebar_down span {
  font-size: 15px;
  word-spacing: 2px;
}

.main img {
  width: 47.7%;
  height: 714px;
}

.text {
  position: absolute;
  top: 20%;
  left: 42%;

  font-size: 70px;
  color: white;
  text-align: center;

  width: 200px;
}

.notice span {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 10;
  left: 92%;
  bottom: 5%;
  border-radius: 5px;
  background-color: #fae301;
  width: 30px;
  height: 30px;
}
