@import "reset.css";

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Square+Peg&display=swap");

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  width: 100%;
}

.header-top {
  z-index: -1;

  position: fixed;
  top: 0;
  left: 0;

  width: 85%;
  height: 8%;

  margin-top: 5%;
  margin-left: 3%;
}
.header-right {
  position: fixed;
  width: 15%;
  height: 100vh;

  top: 0;
  right: 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}
.header-right ul:hover {
  cursor: pointer;
  opacity: 1;
}

.right1 {
  background-color: #5ea3ec;
}
.right2 {
  background-color: #f64444;
  height: 100%;
  width: 100%;
}
.right3 {
  background-color: #ffb400;
  height: 100%;
  width: 100%;
}
.header-right > ul {
  opacity: 0.8;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-right > ul > li {
  width: 100%;
  height: 100%;

  display: flex;
  justify-self: center;
  align-items: center;
}

.header-right > ul > li > span {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);

  width: 100%;
  height: 100%;

  display: flex;
  justify-self: center;
  align-items: center;
}
/*

M A I N 

*/
main {
  margin-top: 25%;
  width: 85%;
}
.content1 {
  padding-left: 3%;
  padding-right: 10%;

  margin-bottom: 10%;
}
.content1 > span {
  font-size: 5em;

  line-height: 1.5em;
  font-family: "Playfair Display", serif;
}

.content2 {
  margin-bottom: 10%;
}
.content2 > img {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 90vh;
}
.content3 {
  padding-left: 3%;
  padding-right: 3%;

  margin-bottom: 10%;
}

/*

market grid

*/

.content3-text {
  margin-bottom: 5%;
}
.content3-text > span {
  font-size: 6em;
  padding-right: 60%;
  line-height: 1.5em;
  font-family: "Playfair Display", serif;
}

.market-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;

  column-gap: 1em;
}

.market-grid > div {
  width: 100%;
}

.market-grid > div > img {
  max-width: 100%;
  height: auto;

  margin-bottom: 10%;
}

.market-grid > div > span {
  line-height: 1.2em;
  font-family: "Square Peg", cursive;
  font-size: 1.5em;
}

/*   

marketEvents-grid

*/
.content4 {
  padding-left: 3%;
  padding-right: 5%;

  margin-bottom: 10%;
}

.marketEvents-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2fr 1fr;
}
.marketEvents-grid > div {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  border-bottom: 2px dotted black;
}
.marketEvents-grid > div > span {
  text-align: center;

  margin-top: 8%;
  margin-bottom: 8%;
  font-family: "Playfair Display", serif;
  font-size: 0.9em;
}

.marketEvents-grid > div:first-child > span,
.marketEvents-grid > div:nth-child(3) > span {
  font-size: 4.5em;
}
.marketEvents-grid > div:nth-child(2) > span {
  font-size: 7.5em !important;
}

.market-grid > div > span:hover {
  font-weight: bold;
  cursor: pointer;
}

.marketEvents-grid > div > span:hover {
  cursor: pointer;
  font-weight: bold;
}
/*

*/

.marketEvents-seeAll {
  grid-column: 2/3;
  grid-row: 3/4;

  width: 100%;
  height: 40%;

  margin-top: 10%;

  display: flex;
  justify-content: center;
  border-bottom: none !important;
}

.marketEvents-seeAll > div {
  width: 40%;
  height: 100%;
  border: 1px solid black !important;
  padding-top: 5%;
  padding-bottom: 5%;

  display: flex;
  justify-content: center;
}

.marketEvents-seeAll > div:hover {
  transition: 0.5s;
  color: white;
  background-color: black;
  cursor: pointer;
}

/* 

content5-site-grid

*/

.content5 {
  padding-left: 3%;
  padding-right: 5%;

  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
}

.content5-site-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;

  column-gap: 5%;

  margin-bottom: 10%;
}
.content5-site-grid > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 2px dotted black;
  height: 150%;
  width: 100%;
  box-sizing: border-box;
}
.content5-site-grid > div > img:hover,
.content5-site-grid > div > span:hover {
  font-weight: bold;
}
.content5-site-grid > div:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.content5-stayUpTo {
  display: flex;
  justify-content: space-between;

  border: 2px dotted black;

  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  padding-right: 5%;
}
.content5-stayUpTo > span:first-child {
  font-size: 1.7em;
  width: 30%;
  font-family: "Playfair Display", serif;
}

.content5-stayUpTo > div {
  border: 1px solid black;

  font-family: "Playfair Display", serif;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
}
.content5-stayUpTo > span:hover {
  text-decoration: underline;
  cursor: pointer;
}
.content5-stayUpTo > div:hover {
  background-color: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
/*

footer

*/

footer {
  padding-left: 3%;
  padding-right: 5%;
  margin-bottom: 10%;
}

footer > span {
  font-weight: 600;
}

footer > span:not(.footer-last) {
  margin-right: 10%;
}

footer > span:last-child {
  margin-left: 5%;
}

footer > span:nth-child(2),
footer > span:nth-child(3) {
  text-decoration: underline;
  text-underline-position: under;
}
.line-through {
  text-decoration: line-through;
}

footer > span:hover {
  cursor: pointer;
  font-family: "Square Peg", cursive;
  font-size: 1.8em;
}

img:hover {
  cursor: pointer;
}

span:hover {
  font-weight: bolder;
  cursor: text;
}
