@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import "variable.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  width: 100%;
  height: 400vh;
  padding: 0%;
}

header {
  width: 100%;
  height: 8%;
  position: fixed;
}

/* 첫번째 nav바 */

header nav {
  width: 100%;
  height: 8%;
  position: fixed;
  top: 0;
  display: flex;

  background-color: white;

  z-index: -1;
}

nav ul {
  display: flex;
  align-items: center;

  width: 100%;
}

nav ul li {
  display: flex;
  align-items: center;
  font-size: 1.9em;

  padding-bottom: 1%;

  font-weight: 500;
}

nav ul:first-child {
  width: 65%;

  display: flex;
}

nav ul:first-child:hover {
  background-color: var(--nav_opacity);
  cursor: pointer;
}

nav ul:first-child:hover li:not(.nav-zoo) {
  color: white;
}

nav ul:first-child li:not(.nav-zoo) {
  color: var(--nav_opacity);
}

nav ul:first-child li {
  margin-left: 2%;
}

nav ul:first-child li:first-child {
  width: 10%;
  height: 100%;
}

nav ul:first-child li:first-child:hover li:not(.nav-zoo) {
  color: red;
  opacity: 1;
}

nav ul:first-child li:nth-child(2) {
  margin-left: 5%;
}

nav ul:first-child li:nth-child(3),
nav ul:first-child li:nth-child(4) {
  margin-left: 7%;
}

/*              
                    두번째 nav바                  
                    */

nav ul:nth-child(2) {
  display: flex;
  width: 35%;
}

nav ul:nth-child(2) {
  padding-left: 2%;
}

nav ul:nth-child(2) li:nth-child(2) {
  margin-left: 15%;
}

nav ul:nth-child(2) li:nth-child(3) {
  margin-left: 50%;
  padding-top: 3%;
  font-size: 1em;
}

nav ul:nth-child(2):hover {
  background-color: var(--nav_opacity);
}

/*  ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
메인 
     */

.main-grid__column {
  margin-top: 8%;

  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.main-grid__column {
  text-transform: uppercase;
}

.main-grid-contents {
  width: 100%;
  height: 100%;
}

.main-grid-contents img,
.main-grid-contents span {
  width: 100%;
}

.main-grid-contents span {
  padding-left: 3%;
}

.main-grid-contents:hover {
  cursor: pointer;
}
