@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

/* 구글 폰트 */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Rubik+Glitch&display=swap");

body {
  margin: 20px 20px;
  width: 95vw;
  height: 95vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 7% repeat(3, 1fr);
  height: 100%;
  row-gap: 0.5%;
}

header {
  background-color: white;
  grid-column: 1 /-1;

  border: 4px solid black;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row: 1fr;
}

header div:not(div:nth-child(5)) {
  border-right: 4px solid black;
}

header div {
  padding: 10px;
  display: flex;
  align-items: center;

  text-transform: uppercase;
  font-size: 12px;
  font-family: "Rubik Glitch", cursive;
}

.contents__columns {
  grid-column: 1/-1;
  grid-row: 2/-1;
  gap: 1px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.contents__column {
  padding: 2%;

  border: 4px solid black;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 13px;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
}

.contents-intro {
  display: flex;
  justify-content: space-between;

  margin: 0 2%;
}

.contents-intro span {
  text-transform: uppercase;
}

.contents-images:not(.contents-images-first) {
  display: flex;
  justify-content: center;
}

.contents-images-first {
  display: flex;
  justify-content: space-between;
}

.contents-images img {
  width: 14.5vw;
  height: 19vh;
  object-fit: fill;
}

.contents-images:not(.contents-images-first) img {
  width: 95%;
}

.contents-more {
  display: flex;
  justify-content: space-between;
}

.contents-more span {
  text-transform: uppercase;
}

header div:hover {
  opacity: 0.7;
  cursor: pointer;
  text-decoration: underline;
  text-underline-position: under;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.7;
  text-decoration: underline;
  text-underline-position: under;
}

@keyframes imgMove {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: none;
  }
}

img:hover {
  opacity: 0.7;
  cursor: pointer;
  border: 1px solid black;

  will-change: transform;
  animation: imgMove 1s ease-in-out infinite;
}

span:hover {
  opacity: 0.7;
  cursor: pointer;
  text-decoration: underline;
  text-underline-position: under;
}
